# Node
node_modules/

# Build
.next/
_next/
tsconfig.tsbuildinfo
__next.*.txt
index.txt
index.html

# System
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Others
*.log
debug-*.png
debug-*.jpg
debug-output.txt
test-*.ts

# VSCode
.vscode/
